html, body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: "Lato";
}

div {
    display: block;
}

table {
    border-collapse: collapse;
}

/* Header of page */
.header h1 {
    position: relative;
    display: block;
    background-color: #4a4f63;
    line-height: 72px;
    padding-left: 20px;
    font-size: 30px;
    color: darkgray;
    margin: 0;
    z-index: 10;
}

/*Top Nav*/
.topNavBar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: darkgray;
    margin: 0;
    padding: 0;
    height: 70px;
    box-shadow: 0 2px 5px 0 #4a4f65;
    z-index: 10;
}

/*Side Nav*/
.leftSideNav {
    position: fixed!important;
    display: block!important;
    width: 200px;
    top: 142px;
    height: 100%;
    background-color: transparent;
}

#leftSideNavInfo {
    position: fixed;
    top: 0;
    margin: 0;
    height: 100%;
    width: inherit;
    padding-top: 142px;
    padding-bottom: 0;
    background-color: silver;
    overflow-y: scroll;
    overflow-x: hidden;
}

.rightSideNav {
    position: fixed!important;
    display: block!important;
    width: 200px;
    top: 142px;
    height: 100%;
    right: 0;
    background-color: transparent;
}

#rightSideNavInfo {
    position: fixed;
    top: 0;
    margin: 0;
    height: 100%;
    width: inherit;
    padding-top: 142px;
    padding-bottom: 0;
    background-color: silver;
    overflow-y: scroll;
    overflow-x: hidden;
}

.divMain {
    margin-left: 200px;
    margin-top: 0;
    background-color: ghostwhite;
}

.header_image {
    display: block;
    width: 80%;
    margin-left: 18px;
    margin-right: auto;
    height: 85%;
}

/*Opening information*/
.openingInfo h2 {
    padding: 0;
    margin: 0;
}

.textArea {
    width: 78%;
    padding: 30px;
}

/* Upload and input area css*/
.upload_area {
    width: 100%;
    height: 140px;
    font-size: 24px;
    color: #385555;
}

.upload_area input::-webkit-file-upload-button {
    position: relative;
    top: -4px;
    width: 150px;
}

.upload_area input {
    font-size: 18px;
    position: relative;
}

.upload_area button {
    font-size: 20px;
    border: none;
    width: 200px;
    text-align: center;
    background-color: lightgray;
}

.upload_area button:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

/* Transaction area css*/
.transactionDiv {
    position: relative;
    text-align: left;
    font-size: 18px;
    border: 4px solid gray;
    border-radius: 10px;
}

#transactionList ul {
    list-style: none;
    font-size: 18px;
    white-space: pre;
}

#transactionListHeading {
    font-size: 26px;
    color: #4a4f63;
    margin: 0;
    padding: 20px;

}

/* Download area css*/
.type {
    display: block;
    width: 200px;
    height: 40px;
    background-color: lightgray;
}

.type:hover {
    background-color: gray;
    color: white;
}

.download_area {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.download_area a {
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: lightgray;
}

.link {
    position: relative;
    height: 30px;
    text-align: left;
}

.download_area a:hover {
    background-color: gray;
    color: white;
}

/* Journal area css*/
.journal {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    margin-bottom: 50px;
}

.journal_toggle, .ledger_toggle {
    width: 100%;
    height: 50px;
    background-color: lightgray;
}

.journal_toggle:hover, .ledger_toggle:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}

.heading2 th {
    border: 1px solid gray;
}

/* Cash receipts and payments journal css*/
.cash_receipts_journal, .cash_payments_journal {
    border: 2px solid gray;
    width: 100%;
    padding-bottom: 10px;
}

.heading th, .heading2 th {
    border: 2px solid gray;
    background-color: lightgray;
}

.row td {
    height: 40px;
    border: 1px solid gray;
}

.analysis, .acc2, .acc1 {
    width: 100px;
}

/* General ledger area css*/
.general_ledger {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    margin-bottom: 50px;
}

.heading .debit, .heading .credit {
    width: 120px;
    height: 40px;
    border: 1px solid gray;
    border-top: 10px solid gray;
    margin: 0;
}

.row .debit, .row .credit {
    width: 120px;
    height: 40px;
    border: 1px solid gray;
    margin: 0;
}

#month.credit {
    border-left: 10px solid gray;
}

#month, #day, #folio {
    width: 80px;
}

#details{
    width: 200px;
}

#amount {
    width: 160px;
}

/* Table area css*/
.table {
    width: 100%;
}

.table_head {
    text-align: center;
}

.table_col {
    border: 1px solid black;
    width: 50px;
    height: 20px;
}

.table_row {
    border: 1px solid black;
}

/* Extra css added through jQuery*/
.grow {
    width: 120%;
}

.zoom {
    width: 110%;
    max-width: 100%;
}

.rotate {
    transition: 0.2s;
    transform: rotate(90deg);
}

/* Testing css for table */
.test_table {
    border: 2px solid black;
}

.test_table input {
    width: 80px;
}

.test_table input {
    border: 1px solid black;
}

