html {
  background-color: #fff;
  text-align: center;
  font-family: 'Lato';
  padding-bottom: 100px;
}

div {
  padding: 4px;
  margin: 12px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

.header {
  font-size: 20px;
  color: #385555;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.header_image {
    display: block;
    width: 70%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* Upload and input area css*/
.upload_area {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
}

.upload_area label {

}

.upload_area input::-webkit-file-upload-button {
  font-size: 50px;
  width: 150px;

}

.upload_div {
  position: relative;
  height: 30px;
  width: 250px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #9b9db5;
}

.upload_div:hover {
  background-color: #4a4f63;
  cursor: pointer;
}

/* Transaction area css*/
.transactionList {
  position: relative;
  padding: 10px 20px;
  text-align: left;
  font-size: 18px;
  border: 4px solid gray;
  border-radius: 10px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.transactionList h2 {
  font-size: 26px;
  color: #4a4f63;
}

.transactionList p {
  font-size: 20px;
}

/* Download area css*/
.download_area button {
  margin: 0px;
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: lightgray;
  text-align: center;
  padding: 10px;
}

.download_area a {
  margin: 0px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.download_area button:hover {
  background-color: #62686f;
}
